{% extends 'blog/_base.html' %}

{% block title %}Confirmation{% endblock title %}

{% block content %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <h1 class="edica-page-title pt-5 pb-4" data-aos="fade-up">Thank You</h1>
                    <section class="edica-contact py-5 mb-5 text-center">
                      <div class="row">
                        <h6 class="mx-auto mb-5">Thank you for contacting us. We will get back to you shortly.</h6>
                      </div>
                      <div class="text-white confirmation_contact_button">
                        <button type="submit" name="button" class="bg-success border border-success rounded p-2 px-3"><a href="{% url 'blog_home' %}" class="text-white">Go to Homepage</a></button>
                      </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
